

.about{
    display: flex; 
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.about-text{
    max-width: 400px;
}

.contact-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    padding-top: 100px;
    padding-bottom: 100px;
}
.contact-text{
    max-width: 300px;
}
.form{
    display: flex;
    flex-direction: column;
    max-width: 200px;
    
}
input{
    padding-top: 2px;
}


@media (max-width:1200px){
    .navbar{ flex-direction: column;}
    .navlogo{ height: 50px; width: auto; ;}
    .about{ flex-direction: column; padding-left: 10px;}
    .contact-section{flex-direction: column; padding-left: 10px;}
}
