

.about{
    display: flex; 
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.about-text{
    max-width: 400px;
}
.filler-container{
    background-color: #151515;
   display: flex;
   justify-content: center;
   padding-bottom: 10vh;
   font-style: italic;
   text-align: center;

}

.contact-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    padding-top: 100px;
    padding-bottom: 100px;
}
.contact-text{
    max-width: 400px;
    line-height: 30px;
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 200px;
    padding-left: 100px;
}
input{
    margin: 8px 0;
}
textarea{
    margin: 8px 0;
    max-width: 400px;
    resize: none;
}




@media (max-width:1200px){
    .navbar{ flex-direction: column;}
    .navlogo{ height: 50px; width: auto; ;}
    .about{ flex-direction: column; padding-left: 10px; padding-top: 20px; padding-bottom: 20px;}
    .contact-section{flex-direction: column; padding-left: 10px; padding-top: 20px; padding-bottom: 20px;}
}

@media (max-width:650px){
    .about{
        gap: 30px;
    padding-top: 20px;
    padding-bottom: 50px;
    padding-right: 10px;
    text-align: center;
    }

    .contact-section{
        text-align: center;
        padding-right: 10px;
    }
   
}
