
.moviepage-container{
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    padding-left: 50px;
    padding-right: 50px;}

 .moviepage-container img{
        object-fit: cover;
 }
 .moviepage-container img:hover{
    opacity: 50%;
 }

 .movie-info{
   display: flex; 
   flex-direction: row;
   justify-content: center;
   gap: 50px;
   padding-top: 100px;
   padding-bottom: 100px;
}
.movie-info img{
   object-fit: cover;
}
.imgbox{
   width: 400px;
   height: 400px;
}
.movie-info p{
   max-width: 300px;
}
.small-text{
   max-width: 200px;
}
.info-text{
   display: flex;
   flex-direction: column;
   justify-content: stretch;
}

.added{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding-top: 50px;
   padding-bottom: 100px;
}
.added img{
   object-fit: cover;
}
.added-img{
   height: 300px;
   width: 400px;
   padding-bottom: 20px;
}
.movie-title{
   padding-bottom: 20px;
}

.topp-h1{ display: flex; flex-direction: column; justify-content: center; align-items: center; padding-bottom: 20px;}

.check-out-container{ display: flex; flex-direction: row; gap: 100px; justify-content: center; padding-bottom: 100px;}
form{display: flex; flex-direction: column; max-width: 400px; gap: 20px;}
.check-box{display: flex; gap: 20px; padding-top: 20px;}
.top-product{display: flex; flex-direction: row; justify-content: space-between;}
.line{ border-bottom: 1px solid #888;}

@media (max-width:1200px){

.moviepage-container{
   display: grid; 
   grid-template-columns: 1fr 1fr 1fr ;
   gap: 40px;
   padding-left: 10px;
   padding-right: 10px;}
}

@media (max-width:650px){
   .movie-info{
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 30px;
      padding-top: 50px;
      padding-bottom: 50px;
   }
   .imgbox{
      width: 200px;
      height: 200px;
   }
   .info-text{
      align-items: center;
   }
   .info-text p{
      text-align: center;
   }
   .movie-title{
      text-align: center;
   }
   .added-img{
      height: 200px;
   width: 300px;
   }
  .continue-button{
   width: 150px;
  }
  .check-out-container{
   flex-direction: column;
   padding-left: 10px;
   padding-right: 10px;
  }
  .topp-h1{
   text-align: center;
  }
}