

body { background-color: #151515;
       color: white;
       font-family: Arial, Helvetica, sans-serif;
}

.navbar{display: flex;
    flex-direction: row;
    
  justify-content: space-between;
 align-items: center;
 padding: 10px 50px;
 position: sticky; 
 top: 0px;   
}
.nav-button-div{
  display: flex;
  flex-direction: row;
  gap: 100px;
}
.navlink{
  color: white;
  font-weight: bold;
}
.navlink:hover{
  color: #D9420B;
}

.navlogo{ height: 70px; width: auto; ;}
.cart{ padding-left: 40%; }

button {
  border-radius: 4px;
  padding: 6px 10px;
  font-weight: bold; font-size: medium;
  width: 200px;
}
a{
  color: black;
}
.goback{
  color: white;
  padding-left: 50px;
  font-weight: lighter;
}
a:hover{
  color: rgb(255, 255, 255);
}
a:link {
  text-decoration: none; 
}


button:hover{color: white; background-color: #D9420B;font-weight: bold;
             cursor: pointer;}

.favheart{ width: 15px; height: auto;}

.herotoptext{ font-weight: 100; padding-bottom: 50px;}

.herosection{ padding-left: 50px;
              padding-top: 50px;
              position: relative;
background-image:url(../images/alovestorydark.jpg);
height: 400px;
background-position: center; 
background-repeat: no-repeat; 
background-size: cover;
margin: 10px 0px;
}


.heroarticle{padding-bottom: 20px; max-width: 450px;}

.categories-movies{display: flex; flex-direction: column; justify-items: center; justify-content: center; align-items: center; width: 100%; gap: 20px; padding-top: 20px;}
.topcatagories, .bottomcatagories{width: 100%; display: flex; flex-direction: row; justify-content: space-around;  }

.keep-watching-img{
  width: 550px; height: 250px;
}

.headline-section{ font-weight: lighter; padding: 50px;}
.headline-section-top{ font-weight: lighter; padding: 50px; color: white;}
.keep-watching{ display: flex; flex-direction: row; padding-left: 50px; gap: 50px;}
.keep-watching-container{
                         position: relative;
                        text-align: center;
                      }
.keep-watching-container img{
  object-fit: cover;
}                      
.playicon{ 
  position: absolute;
  top: 40%;
  left: 50%;
}  

.movie-container{
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  padding-left: 50px;
  padding-right: 50px;
}
.movie{ 
  width: 200px;
  position: relative;
  text-align: center;
}
.movie-img{
  padding-bottom: 0px;
  padding-top: 20px;
}
.price{
  position: absolute;
  top: 20px;
  left: 16px;
}
.movieheart{
  position: absolute;
  top: 40px;
  right: 16px;
}
.title{
  position: absolute;
  bottom: 40px;
  left: 16px;
}

.featuring-section{
  display: flex; flex-direction: row;
  padding-left: 50px; padding-right: 50px;
  gap: 50px;
}
.featuring-image{
  height: 400px;
  width: 700px;
}
.featuring-section img{
  object-fit: cover;
}
.featuring-text{
  display: flex; flex-direction: column;
  justify-content: space-between;
  max-width: 600px;
}
.infotext{ font-style: italic; font-weight: 100;}

.footer-section{
  display: flex; flex-direction: column; justify-content: center; justify-items: center; align-items: center; padding: 50px;
}
ul{ display: flex; flex-direction: row; gap: 100px; padding-left: 0px;}
.sosialmedia{ display: flex; flex-direction: row; gap: 20px;}

.footerlink{
  color: white;
}
.footerlink:hover{
  color: #D9420B;
}


@media (max-width:1200px){
  .navbar{ flex-direction: column;}
  .navlogo{ height: 50px; width: auto; ;}
  .cart{ padding-left: 0%; padding-top: 10px; }
  .keep-watching { visibility: hidden; display: none;}
  .headline-section-top{ visibility: hidden; display: none;}
  .movie-container {
    grid-template-columns: 1fr 1fr 1fr;}
  ul{gap: 10px;} 
  .featuring-section{ flex-direction: column;} 
  button{ width: 200px; font-size: 12px;}
  .nav-button-div{
    padding-top: 10px;
    padding-bottom: 10px;
    gap: 20px;
  }
  
  }

  @media (max-width:650px){
    .navbar{padding: 10px 10px;}
    .navlink{ font-size: 12px;}
    .movie-container {
      grid-template-columns: 1fr 1fr 1fr;}
    .herosection, .keep-watching, .headline-section, .movie-container,  .featuring-section {padding-left: 10px; padding-right: 10px;}
    button{width: 100px;} 
    .headline-section{padding-top: 10px; padding-bottom: 10px;} 
    .featuring-image{
      height: 150px;
      width: 250px;}
      .movie{ 
        width: 100px;
        height: 200px;
      }
      .movie-img{ height: 150px;}
      .movie h4{ font-size: 12px;}
      .movie h3{ font-size: 14px;}

      .price{
        top: 20px;
        left: 6px;
      }
      .movieheart{
        top: 30px;
        right: 6px;
      }
      .movieheart{ width: 20px;}
      .title{
        bottom: 20px;
        left: 6px;
      }
      .goback{
        padding-left: 10px;
      }
    }